
#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

label{
    padding-right: 2%;
    margin-left: 2%;
}
input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 10px 10px 0px 10px;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #d1ffe5;
  color: #000000;
}

textarea:hover {
  background: #d1ffe5;
  color: #000000;
}

button{
    margin-left: 2%;
}
.alert {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    font-weight: 400;
    background-color: rgb(255, 112, 112);
  }

