/* Estilos para el navegador */
.navbar {
  position: fixed;
  top: 0;
  padding: 0 10px;
  width: 100%;
  background-color: #fffbfb;
  overflow: hidden;
  border: 1px solid rgb(0, 255, 0);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #ffffff;
}

button{
  position: fixed;
  top: 1px;
  right: 0;
  color: white; 
  border: none; 
  padding: 14px 20px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 4px;
}

.navbar .right:hover {
  background-color: #45a049; /* Color de fondo al pasar el ratón */
}
/* Asegúrate de que el contenido no quede oculto detrás del navegador */
.content {
  margin-top: 80px; /* Ajusta este valor según la altura de tu navbar */
}